# Backward selection

In [1]:
HOUSING_PATH = "data/housing.csv"

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
housing = pd.read_csv(HOUSING_PATH)
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
# Divide by 1.5 to limit the number of income categories
housing["income_cat"] = np.ceil(housing["median_income"] / 1.5)
# Label those above 5 as 5
housing["income_cat"].where(housing["income_cat"] < 5, 5.0, inplace=True)

In [5]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(housing, housing["income_cat"]):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

for set_ in (strat_train_set, strat_test_set):
    set_.drop("income_cat", axis=1, inplace=True)

In [6]:
from sklearn.base import BaseEstimator, TransformerMixin

rooms_ix, bedrooms_ix, population_ix, household_ix = 3, 4, 5, 6

class CombinedAttributesAdder(BaseEstimator, TransformerMixin):
    def __init__(self, add_bedrooms_per_room = True): # no *args or **kargs
        self.add_bedrooms_per_room = add_bedrooms_per_room
    def fit(self, X, y=None):
        return self  # nothing else to do
    def transform(self, X, y=None):
        rooms_per_household = X[:, rooms_ix] / X[:, household_ix]
        population_per_household = X[:, population_ix] / X[:, household_ix]
        if self.add_bedrooms_per_room:
            bedrooms_per_room = X[:, bedrooms_ix] / X[:, rooms_ix]
            return np.c_[X, rooms_per_household, population_per_household, bedrooms_per_room]
        else:
            return np.c_[X, rooms_per_household, population_per_household]

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names].values
    
class PipelineFriendlyLabelBinarizer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None,**fit_params):
        return self
    def transform(self, X):
        return LabelBinarizer().fit(X).transform(X)

In [7]:
from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, Imputer, LabelBinarizer

num_attribs = strat_train_set.columns.drop(["ocean_proximity", "median_house_value"])
cat_attribs = ["ocean_proximity"]

num_pipeline = Pipeline([
    ('selector', DataFrameSelector(num_attribs)),
    ('imputer', Imputer(strategy="median")),
    ('attribs_adder', CombinedAttributesAdder()),
    ('std_scaler', StandardScaler()),
])

cat_pipeline = Pipeline([
    ('selector', DataFrameSelector(cat_attribs)),
    ('label_binarizer', PipelineFriendlyLabelBinarizer()),
])

full_pipeline = FeatureUnion(transformer_list=[
    ("num_pipeline", num_pipeline),
    ("cat_pipeline", cat_pipeline),
])

In [8]:
X_train = strat_train_set.drop("median_house_value", axis=1)
y_train = strat_train_set["median_house_value"].copy()

X_test = strat_test_set.drop("median_house_value", axis=1)
y_test = strat_test_set["median_house_value"].copy()

In [9]:
X_train_prepared = full_pipeline.fit_transform(X_train)
X_test_prepared = full_pipeline.transform(X_test)

In [10]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression().fit(X_train_prepared, y_train)
y_pred = lin_reg.predict(X_test_prepared)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
rmse

/Users/tural/.virtualenvs/P3/lib/python3.6/site-packages/scipy/linalg/basic.py:1018: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

66911.980708575458

## Выбор фич

In [11]:
columns = [
    'longitude', 'latitude', 'housing_median_age', 'total_rooms', 
    'total_bedrooms', 'population', 'households', 'median_income',
    'rooms_per_household', 'population_per_household', 'bedrooms_per_room',
    'lt_1H_OCEAN', 'INLAND', 'ISLAND', 'NEAR_BAY', 'NEAR_OCEAN', 'median_house_value'
]

train_df = pd.DataFrame(np.c_[X_train_prepared, y_train], columns=columns)
test_df = pd.DataFrame(np.c_[X_test_prepared, y_test], columns=columns)

In [12]:
train_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,population_per_household,bedrooms_per_room,lt_1H_OCEAN,INLAND,ISLAND,NEAR_BAY,NEAR_OCEAN,median_house_value
0,-1.156043,0.771950,0.743331,-0.493234,-0.445438,-0.636211,-0.420698,-0.614937,-0.312055,-0.086499,0.155318,1.0,0.0,0.0,0.0,0.0,286600.0
1,-1.176025,0.659695,-1.165317,-0.908967,-1.036928,-0.998331,-1.022227,1.336459,0.217683,-0.033534,-0.836289,1.0,0.0,0.0,0.0,0.0,340600.0
2,1.186849,-1.342183,0.186642,-0.313660,-0.153345,-0.433639,-0.093318,-0.532046,-0.465315,-0.092405,0.422200,0.0,0.0,0.0,0.0,1.0,196900.0
3,-0.017068,0.313576,-0.290520,-0.362762,-0.396756,0.036041,-0.383436,-1.045566,-0.079661,0.089736,-0.196453,0.0,1.0,0.0,0.0,0.0,46300.0
4,0.492474,-0.659299,-0.926736,1.856193,2.412211,2.724154,2.570975,-0.441437,-0.357834,-0.004194,0.269928,1.0,0.0,0.0,0.0,0.0,254500.0

In [13]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

/Users/tural/.virtualenvs/P3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

### Итерация 0

In [14]:
_iteration_cols = train_df.columns.drop('median_house_value')

In [15]:
def get_formula(_cols):
    return 'median_house_value ~ ' + " + ".join(_cols)

In [16]:
get_formula(_iteration_cols)

'median_house_value ~ longitude + latitude + housing_median_age + total_rooms + total_bedrooms + population + households + median_income + rooms_per_household + population_per_household + bedrooms_per_room + lt_1H_OCEAN + INLAND + ISLAND + NEAR_BAY + NEAR_OCEAN'

In [17]:
lm = smf.ols(get_formula(_iteration_cols), train_df).fit()
rss = np.sum(lm.resid ** 2)
rmse = np.sqrt(rss / len(lm.resid))
print("RMSE:", rmse)
print("R^2:", lm.rsquared)

RMSE: 68634.5400488
R^2: 0.648097455502

In [18]:
lm_res = lm.summary()
lm_res.tables[1]

### Итерация 2

In [19]:
# выкиним total_rooms так как у него наибольшоее p-value
_iteration_cols = _iteration_cols.drop('total_rooms')

In [20]:
lm = smf.ols(get_formula(_iteration_cols), train_df).fit()
rss = np.sum(lm.resid ** 2)
rmse = np.sqrt(rss / len(lm.resid))
print("RMSE:", rmse)
print("R^2:", lm.rsquared)

RMSE: 68631.9239797
R^2: 0.648124281174

In [21]:
lm_res = lm.summary()
lm_res.tables[1]

### Итерация 3

In [22]:
# выкиним NEAR_OCEAN так как у него наибольшоее p-value
_iteration_cols = _iteration_cols.drop('NEAR_OCEAN')

In [23]:
lm = smf.ols(get_formula(_iteration_cols), train_df).fit()
rss = np.sum(lm.resid ** 2)
rmse = np.sqrt(rss / len(lm.resid))
print("RMSE:", rmse)
print("R^2:", lm.rsquared)

RMSE: 68629.8181151
R^2: 0.648145874369

In [24]:
lm_res = lm.summary()
lm_res.tables[1]

### Итерация 4

In [25]:
# выкиним lt_1H_OCEAN так как у него наибольшоее p-value
_iteration_cols = _iteration_cols.drop('lt_1H_OCEAN')

In [26]:
lm = smf.ols(get_formula(_iteration_cols), train_df).fit()
rss = np.sum(lm.resid ** 2)
rmse = np.sqrt(rss / len(lm.resid))
print("RMSE:", rmse)
print("R^2:", lm.rsquared)

RMSE: 68637.2454412
R^2: 0.648069712816

In [27]:
lm_res = lm.summary()
lm_res.tables[1]

### Итерация 5

In [28]:
# выкиним population_per_household так как у него наибольшоее p-value
_iteration_cols = _iteration_cols.drop('population_per_household')

In [29]:
lm = smf.ols(get_formula(_iteration_cols), train_df).fit()
rss = np.sum(lm.resid ** 2)
rmse = np.sqrt(rss / len(lm.resid))
print("RMSE:", rmse)
print("R^2:", lm.rsquared)

RMSE: 68645.5127449
R^2: 0.647984928243

In [30]:
lm_res = lm.summary()
lm_res.tables[1]

### Итерация 6

In [31]:
# выкиним total_bedrooms так как у него наибольшоее p-value
_iteration_cols = _iteration_cols.drop('total_bedrooms')

In [32]:
lm = smf.ols(get_formula(_iteration_cols), train_df).fit()
rss = np.sum(lm.resid ** 2)
rmse = np.sqrt(rss / len(lm.resid))
print("RMSE:", rmse)
print("R^2:", lm.rsquared)

RMSE: 68656.0446777
R^2: 0.647876904183

In [33]:
lm_res = lm.summary()
lm_res.tables[1]

### Итерация 7

In [34]:
# выкиним NEAR_BAY так как у него наибольшоее p-value
_iteration_cols = _iteration_cols.drop('NEAR_BAY')

In [35]:
lm = smf.ols(get_formula(_iteration_cols), train_df).fit()
rss = np.sum(lm.resid ** 2)
rmse = np.sqrt(rss / len(lm.resid))
print("RMSE:", rmse)
print("R^2:", lm.rsquared)

RMSE: 68669.7157389
R^2: 0.647736657954

In [36]:
lm_res = lm.summary()
lm_res.tables[1]

## Посмотрим на результат

In [37]:
sub_X_train_prepared = train_df[_iteration_cols].values
sub_X_test_prepared = test_df[_iteration_cols].values

In [38]:
# было 66911.980708575458

In [39]:
lin_reg = LinearRegression().fit(sub_X_train_prepared, y_train)
y_pred = lin_reg.predict(sub_X_test_prepared)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
rmse

66961.151959308263